@model DeskDexCore.Models.Equipment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-4">
    <h2>Edit @Html.DisplayFor(model => model.Name)</h2>

    <nav class="breadcrumb my-3">
        @Html.ActionLink("DeskDex", "Index", "Home", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item">Management</span>
        @Html.ActionLink("Equipment", "Index", "Equipment", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item">@Model.Name</span>
        <span class="breadcrumb-item active">Delete</span>
    </nav>

    <div class="py-1"></div>

    <div class="row justify-content-center">

        <div class="card col-md-6">
            <div class="card-body">
                <h4 class="card-title">
                    @Html.DisplayFor(model => model.Name)
                </h4>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <p class="card-text">
                    Do you really want to delete this?
                </p>
                <div class="text-right">
                    @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-outline-primary waves-effect" })
                        <input type="submit" value="Delete" class="btn btn-danger" />

                    </div>
            }
                </div>
            </div>
        </div>
    </div>
</div>

</div>
