@model DeskDexCore.Models.Floor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <h2>Floor @Model.Name</h2>

    <nav class="breadcrumb my-3">
        @Html.ActionLink("DeskDex", "Index", "Home", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item">Management</span>
        @Html.ActionLink("Floors", "Index", "Floors", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item active">@Model.Name</span>
    </nav>

    <div>
        <h4>Floor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SortName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SortName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>
            <dd>
                <img src="@Model.FilePath" width="100%" />
            </dd>
        </dl>
    </div>
</div>