@model IEnumerable<DeskDexCore.Models.Floor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <h2 class="float-sm-left">Station Types</h2>

    <div class="float-sm-right btn-group" role="group">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fas fa-plus mr-1"></i> Create New</a>
    </div>
    <div class="clearfix"></div>

    <nav class="breadcrumb my-3">
        @Html.ActionLink("DeskDex", "Index", "Home", null, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item">Management</span>
        <span class="breadcrumb-item active">Floors</span>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilePath)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilePath)
                    </td>
                    <td>
                        <div class="text-right" role="group">
                            <a href="@Url.Action("Details", new { id = item.ID })" class="mx-2 btn-flat"><i class="fas fa-info"></i></a>
                            <a href="@Url.Action("Edit", new { id = item.ID })" class="mx-2 btn-flat"><i class="fas fa-edit"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.ID })" class="mx-2 btn-flat"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>