@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "home";
    ViewBag.Transparent = true;
}
<div class="container-fluid color-accent underflow full-viewport background-cover z-depth-1" style="background-image:url('@Model.MainImage')">
    <div class="pt-8 row align-items-center full-height full-viewport">
        <div class="container">
            <div class="white-text py-4 col">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="display-1">Let's meet up.</h1>
                        <p>Gone are the days of endlessly wandering around the office.  DeskDex will help you find your colleagues and get down to business.</p>
                        <a class="btn btn-outline-white" href="@Url.Action("Map", "Home", null)">See the Map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 py-4">
    <div class="">
        <h2>How it works</h2>
        <p class="lead">It's all in the dock.</p>
        <p>Your company laptop periodically checks in with DeskDex’s API, allowing the application to keep track of where you’re sitting.  The unique network adapter within each docking station enables your whereabouts to be determined just by plugging in.</p>
    </div>
</div>

<div class="container my-4 py-4">
    <h2>Stats for nerds</h2>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title display-4">@Model.StationCount</h4>
                <p class="card-text">Stations registered</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title display-4">@Model.UserCount</h4>
                <p class="card-text">Active users</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title display-4">@Model.OpenRatio<small>%</small></h4>
                <p class="card-text">Stations available</p>
            </div>
        </div>
    </div>
</div>