@using System.Security.Principal
@using System.Security.Claims
@{
    var claims = ((ClaimsIdentity)User.Identity).Claims;
    var name = claims.FirstOrDefault(c => c.Type == "name")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - DeskDex</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/mdb.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b42f26">
    <meta name="theme-color" content="#b42f26">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark @(ViewBag.Transparent == true ? "" : "primary-color darken-4") @(ViewBag.Fullscreen == true ? "fixed-top" : "")" @(ViewBag.Transparent == true ? "style=box-shadow:none;" : "")>
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="@(ViewBag.ColorLogo == true ? Url.Content("~/images/svg/logo.svg") : Url.Content("~/images/svg/logo-inverse.svg"))" height="30" class="d-inline-block align-top mr-2" alt="">
                Desk<strong>Dex</strong>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ddNavCollapse" aria-controls="ddNavCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="ddNavCollapse">
                <!-- links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.Active == "home" ? "active" : "")">
                        <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item @(ViewBag.Active == "map" ? "active" : "")">
                        <a href="@Url.Action("Map","Home")" class="nav-link">Map</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown @(ViewBag.Active == "management" ? "active" : "")">
                            <a class="nav-link dropdown-toggle" id="mgmtDdLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" Management>Management</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="mgmtDdLink">
                                @Html.ActionLink("Stations", "Index", "Station", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Equipment", "Index", "Equipment", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Station Types", "Index", "WorkStyles", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Floors", "Index", "Floors", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Logout " + name, "SignOut", "Account", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Log In", "SignIn", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>

                <!-- search -->
                <form class="form-inline">
                    <div class="md-form mt-0">
                        <input type="text" class="form-control mr-sm-2" placeholder="Find Someone" id="userSearch" aria-label="Search" />
                        <span id="searchClear" class="text-white waves-effect waves-light waves-input-wrapper d-none"><i class="fas fa-times"></i></span>
                        <div class="dropdown-menu" id="searchSuggest">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/mdb.min.js")"></script>
    <script src="@Url.Content("~/js/search.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
